services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend
    depends_on:
      - mariadb
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${MARIADB_USER}
      - DB_PASSWORD=${MARIADB_PASSWORD}
      - DB_NAME=${MARIADB_DATABASE}
    restart: unless-stopped

  mariadb:
    image: mariadb:11.4
    container_name: mariadb
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql

  nginx:
    image: nginx:alpine
    ports:
      - "8081:80"
      - "4443:443"                    # Puerto HTTPS
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl.conf:/etc/nginx/conf.d/ssl.conf
      - ./certs:/etc/nginx/certs     # Montar certificados
    depends_on:
      - frontend
      - backend
    restart: unless-stopped

volumes:
  db_data: