# backend/requirements.txt
Flask
mysql-connector-python
flask_cors
FPDF
requests
Flask-SocketIO
python-socketio
eventlet
flask_session
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client